/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Bigshot+One|Crimson+Text|Patua+One");
/* Core Style */
* {
  font-size: 0.625rem;
}

body {
  margin: 0;
  background: rgb(120, 73, 141);
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
  font-family: 'Patua One', cursive;
  font-weight: 300;
}

p {
  margin: 0;
  padding: 1em 0;
  font-size: 1.8rem;
  font-family: "Crimson Text", sans-serif;
}

.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: solid #666 1px;
  margin: 1em 0;
  font-family: 'Patua One', cursive;
  font-size: 2rem;
}

.btn:hover {
  color: rgb(120, 73, 141);
  background: #222;
}

/* Header */
#showcase {
  min-height: 520px;
  color: #fff;
  text-align: center;
}

#showcase .bg-img {
  position: absolute;
  background: #333 url("./img/header-cover.jpg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  width: 100%;
  height: 520px;
  z-index: -1;
  opacity: 0.3;
  
}

#showcase h1 {
  padding-top: 30px;
  padding-bottom: 0;
  width: 90%;
  margin: 0 auto;
  font-size: 4.5rem;
}

#showcase .content-wrap {
  padding: 0 .5em;
}

#showcase p {
  padding: 0 1em;
  width: 70%;
  margin: 0 auto;
  display: none;
}

/* Section A */
#section-a {
  background: #222;
  padding: 1.5em;
}

#section-a h2 {
  font-size: 3.2rem;
  padding: .5em;
}

#section-a p {
  width: 90%;
  margin: -1rem auto 1rem auto;
}

/* section B */
#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  border-bottom: 5px solid #222;
  background: #fff;
  color: #111;
}

#section-b li .border-white {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 10px 0 10px 0;
}

#section-b li p {
  padding: 1em 1em;
}

#section-b li .card-title {
  font-size: 2.5rem;
}

/* section C */
#section-c {
  background: #222;
  padding: 2em;
  margin-top: 1.5em;
}

#section-c h2 {
  font-size: 3rem;
}

#section-c p {
  width: 85%;
  margin: 0 auto 1em auto;
}

/* section D */
#section-d .box {
  padding: 2em;
}

#section-d .box h2 {
  font-size: 3rem;
}

#section-d .box p {
  width: 85%;
  margin: 0 auto;
}

#section-d .box-left {
  background: #fff;
  color: #222;
}

#section-d .box-left h2 {
  color: rgb(100, 50, 100);
}

#section-d .box-left a {
  color: rgb(150, 90, 120);
  text-decoration: none;
  font-family: "Crimson Text", sans-serif;
  font-size: 2rem;
}

#section-d .box-left a:hover {
  color: rgb(100, 50, 100);
}

#section-d .box-right a {
  color: #fff;
  text-decoration: none;
  font-family: "Crimson Text", sans-serif;
  font-size: 2rem;
  background: #222;
  display: inline-block;
  padding: 1em 2em;
  margin: .5em 0;
}

#section-d .box-right a:hover {
  color: rgb(150, 90, 120);
  background: #333;
}

/* footer */
#main-footer {
  padding: 1em 2em;
  background: #222;
  text-align: center;
}

#main-footer .footer-p {
  font-family: "Crimson Text";
  font-size: 1.4rem;
  color: #bbb;
  padding: 0 -1em;
}

#main-footer a {
  color: rgb(150, 90, 120);
  text-decoration: none;
  font-family: "Crimson Text";
  font-size: 1.4rem;
}

/* Media Queries */
@media (min-width: 700px) {

  #showcase p {
    display: block4;
  }

  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr (minmax(auto, 25em))[2] 1fr;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }
  #section-a p {
    -webkit-columns: 2;
            columns: 2;
    -webkit-column-gap: 3em;
            column-gap: 3em;
  }
  .content-wrap,
  #section-b ul {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
  .box,
  #main-footer p {
    grid-column: span 2;
  }
  #section-b ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #section-b li {
    width: 33%;
    margin: 0 10px;
  }
  #showcase h1 {
    margin-top: 140px;
  }
}
/*# sourceMappingURL=style.css.map */